body{
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
}

.image-container{
    margin: auto;
    width: 225px;
    height: 225px;
}
.image-container img{
    width: 100%;
    height: 100%;
}

.header{
    text-align: center;
    color: rgb(0, 0, 0);
}

.header h1{
    color: brown;
}

.header p{
    color: black;
}

